.purchased-content {
  gap: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.purchased-statusrow {
  width: 1227px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.purchased-status {
  top: 25px;
  left: 1081px;
  width: 146px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.purchased-text003 {
  left: 71px;
  color: rgba(108, 122, 160, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.purchased-text005 {
  color: rgba(108, 122, 160, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.purchased-style-outlined11 {
  top: 0px;
  left: 52px;
  width: 8px;
  bottom: 0px;
  height: 8px;
  margin: auto;
  position: absolute;
}
.purchased-section {
  top: 0px;
  left: 0px;
  width: 190px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.purchased-text007 {
  top: 30px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.purchased-text009 {
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.purchased-frame52 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.purchased-filter {
  gap: 730px;
  width: 1228px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.purchased-text019 {
  top: 9.4193115234375px;
  left: 44.58642578125px;
  color: rgb(255, 255, 255);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.purchased-text020 {
  top: 221px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
